services:
  dependencies:
    build:
      context: ..
      dockerfile: docker/dependencies/Dockerfile
    image: gebregl/wavespace-dependencies:v2

  spectrogram_converter:
    build:
      context: ..
      dockerfile: docker/spectrogram_converter/Dockerfile
    image: gebregl/wavespace-spectrogram-converter:v4
    volumes:
      - /home/david/mine/projects/wavespace/resources:/resources

  spectrogram_autoencoder:
    build:
      context: ..
      dockerfile: docker/spectrogram_autoencoder/Dockerfile
    image: gebregl/wavespace-spectrogram-autoencoder:v13
    volumes:
      - /home/david/mine/projects/wavespace/resources:/resources
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}

  pitch_detection_auto:
    build:
      context: ..
      dockerfile: docker/pitch_detection_auto/Dockerfile
    image: gebregl/wavespace-pitch-detection-auto:v44
    volumes:
      - /home/david/mine/projects/wavespace/resources:/resources
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}

  pitch_detection_supervised:
    build:
      context: ..
      dockerfile: docker/pitch_detection_supervised/Dockerfile
    image: gebregl/wavespace-pitch-detection-supervised:v10
    volumes:
      - /home/david/mine/projects/wavespace/resources:/resources
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}

  pitch_channel_eval:
    build:
      context: ..
      dockerfile: docker/pitch_channel_eval/Dockerfile
    image: gebregl/wavespace-pitch-channel-eval:v4
    volumes:
      - /home/david/mine/projects/wavespace/resources:/resources
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}
